/fantomX

/fantomX/data/*

/fantomX/docs/*
!/fantomX/docs/fantomX.monkey.html

/fantomX/examples/*

/fantomX/monkeydoc/*

/fantomX/native/*

/fantomX/Tools/*
!/fantomX/Tools2/*
!/fantomX/Tools2/BMax_Conv/*
!/fantomX/Tools2/CleanOSXFiles/*
!/fantomX/Tools2/createrelease/*
!/fantomX/Tools2/DocMonk/*
!/fantomX/Tools2/TED_Help_Patcher/*
!/fantomX/Tools2/FantomPages/*

!/fantomX/Todo*
!Tools2/*
*.bak
Tools/TED_Help_Patcher
Tools/DocMonk
CleanOSXFiles.ini
Tools/CleanOSXFiles
Tools/BMax_Conv
Tools/createrelease
fantomX.monkey.html
docInclude
docCode
docParse
ToDo_fantomX.txt

